
.desktop {
    position: relative;
    width: 1440px;
    height: 1832px;
    background: #FCFAF9;
}

.box {
border-radius: 20px;
background-color: black;
position: absolute;
width: 1100px;
height: 600px;
margin-left: 165px;
margin-top: 860px;
}

.pattern {
    position: absolute;
    width: 312px;
    height: 468px;
    left: 501px;
    top: 820px;
}

.treble {
    position: absolute;
    width: 150px;
    height: 350px;
    left: 267px;
    top: 646px;
}