
.desktop {
    position: relative;
    width: 1440px;
    height: 1832px;
    background: #FCFAF9;
}

.box {
    position: absolute;
    border-radius: 12px;
    background-color: black;
    width: 1100px;
    height: 600px;
    margin-left: 165px;
    margin-top: 860px;
}

.pattern {
    position: absolute;
    width: 312px;
    height: 468px;
    left: 501px;
    top: 820px;
}

.treble {
    position: absolute;
    width: 312px;
    height: 642px;
    left: 267px;
    top: 646px;
}

.orange {
    background-color: #FA7453;
    position: absolute;
    border-radius: 12px;
    width: 446px;
    height: 625px;
    left: 779px;
    top: 1002px;
}

#smaller {
    line-height: 34px;
    font-style: normal;
    font-weight: normal;
    font-family: IBM Plex Sans Bold, sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 54px;
    padding-top: 132px;
    padding-bottom: 323px;
    padding-right: 59px;

}

#EQ {
padding-left: 54px;
padding-right: 59px;
padding-top: 58px;
padding-bottom: 515px;
position: absolute;
font-family: IBM Plex Sans, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 52px;
color: white;
}

#four {

    font-weight: bold;
    font-size: 50px;
    font-family: IBM Plex Sans, sans-serif;
    transform: translate (0. 5px);
    
}

#month {
    transform: translate(0, -5px);
   

}

.top {
    position: absolute;
    width: 312px;
    height: 468px;
    left: 1128px;
    top: -40px;

}

.rainbow {
    position: absolute;
    width: 1613px;
    height: 1758px;
    left: -250px;
    top: -270px;
}

.head {
    position: absolute;
    left: 165px;
    top: 130px;
    right: 260px;
    width: 1015px;
    height: 176px;
 
    font-family: IBM Plex Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 100%;
    letter-spacing: -1px;
    color: #191826;
}

.equalizer {
    position: absolute;
    width: 825px;
    height: 102px;
    left: 164.5px;
    top: 437px;

    font-family: IBM Plex Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
}

.logo {


position: absolute;
width: 146.09px;
height: 32px;
left: 166.15px;
top: 61.99px;
}

.footer {
    position: absolute;
    width: 1110px;
    height: 79px;
    left: 165px;
    top: 1662px;
}

.trademark {
    font-family: IBM Plex Sans, sans-serif;
    position: absolute;
    width: 1110px;
    height: 79px;
    left: 450px;
    top: 1662px;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
}


.button1 {
    background-color: #191826;
    border-color: #191826;
    color:#fcfaf9;
    padding-left: 10px;
    padding-right: auto;
    border-radius: 12px;
    width: 350px;
    height: 60px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;

}

.button1: hover {
    background-color: #66E2DC!important;
    color:#FCFAF9
}

.button2 {

    background-color: #fcfaf9;
    border-color: #FCFAF9;
    color: #191826;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: auto;
    border-radius: 12px;
    width: 350px;
    height: 60px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.button2: hover {
    background-color: #FFB964!important;
    color: #fcfaf9
}