
.desktop {
    position: relative;
    width: 1440px;
    height: 1832px;
    background: #FCFAF9;
}

.box {
    position: absolute;
    border-radius: 12px;
    background-color: black;
    width: 1100px;
    height: 600px;
    margin-left: 165px;
    margin-top: 860px;
}

.pattern {
    position: absolute;
    width: 312px;
    height: 468px;
    left: 501px;
    top: 820px;
}

.treble {
    position: absolute;
    width: 312px;
    height: 642px;
    left: 267px;
    top: 646px;
}

.orange {
    background-color: #FA7453;
    position: absolute;
    border-radius: 12px;
    width: 446px;
    height: 625px;
    left: 779px;
    top: 1002px;
}

#smaller {
    line-height: 34px;
    font-style: normal;
    font-weight: normal;
    font-family: IBM Plex Sans Bold, sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 54px;
    padding-top: 132px;
    padding-bottom: 323px;
    padding-right: 59px;

}

#EQ {
padding-left: 54px;
padding-right: 59px;
padding-top: 58px;
padding-bottom: 515px;
position: absolute;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 52px;
color: white;
}

#four {

    font-weight: bold;
    font-size: 50px;
    font-family: IBM Plex Sans, sans-serif;
}